.card {
  border-color: $border-color;
  .card-header {
    border-color: $border-color;
    background-color: $card-header-bg-color;
    color: $card-header-color;
  }

  &.no-header .card-header {
    color: $card-no-header-color;
    border-bottom: none;
    background-color: transparent;
  }
  &.columns-action-button {
    color: red;
  }
}

// dark mode
body.dark-mode .card {
  border-color: $dark-border-color;
  background-color: $dark-bg-color;
  .card-body,
  .card-header {
    background-color: $dark-bg-color;
  }
  .card-header {
    border-color: $dark-border-color;
    color: $dark-text-color-second;
  }
  &.no-header .card-header {
    color: $dark-text-color-second;
  }
  .card-header button {
    color: $dark-text-color-second;
  }
}
