
.theme-chart {
    height: 400px;
    direction: ltr;
    max-width: 400px;
    --primary-axis-color: var(--chart-border-bottom-color);

    &.column {
        color: var(--chart-column-data-color);
        --color:  var(--chart-column-color);
    }
    &.line {
        color: var(--chart-line-data-color);
        --color:  var(--chart-line-color);
    }
    .title {
        margin-inline-end: 10px;
        margin-bottom:9px
    }
.data {
    font-size: 14px;
}
th {
    color: black;
}


  }


  body.dark-mode .theme-chart  {
    --primary-axis-color: var(--chart-dark-border-bottom-color);
    th {
      color: $dark-text-color-second;
    }
    &.column {
        color: $dark-text-color-second;
    }
    &.line {
        color: $dark-text-color-second;
    }
    
  }