.list-row {
  .list-group-item {
    margin-bottom: 10px;
    padding-inline: 6px;
    border-top-width: 1px;
  }

  position: relative;
}

.columns-container {
  &.overflow-x-scroll {
    overflow-x: scroll;
    .row-columns {
      display: flex;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.action-able {
    cursor: pointer;
  }
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 0px;
  padding-left: 0px;

  .row-columns {
    margin-top: 10px;
    margin-bottom: 10px;
    .column {
      margin-top:6px;
      margin-bottom: 6px;
      margin-left: 6px;
      margin-right: 6px;
      min-width: 150px;
     
      .column-title {
        // font-weight: bold;
        color: $column-title-color;
        font-size: $column-title-size;
      }

      .column-value {
        font-size: $column-value-size;
        color: $column-value-color;
      }
    }

    .columns-nested {
      margin-left: 6px;
      margin-right: 6px;

      // align-self: center;
      .column-title,
      .column-value {
        font-size: 85%;
        display: inline-block;
      }
    }
  }
}
.columns-container:not(.overflow-x-scroll) {
  .row-columns {
    display: flex;
  }
  @media screen and (max-width: 900px) {
    .row-columns {
      display: block;
    }
    }
  }
.columns-action-button {
  margin: 0;
  padding: 0;
  margin-inline-end: 3px;
  color: $columns-action-color;
}

body.dark-mode .columns-container,
body.dark-mode .columns-action-button {
  color: $dark-text-color-second;

  .column .column-title {
    color: $dark-text-color-second;
  }

  .column .column-value {
    color: $dark-text-color-third;
  }
}

.loading-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;

  .spinner-border {
    margin-top: 50px;
  }
}
