.items-next-values {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  width: 100% !important;
  .title {
    color: $item-title-color;
    font-size: $item-title-size;
    font-weight: bold;
  }
  li {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .item-title {
      margin-inline-start: 10px;
      color: $item-title-color;
      font-size: $item-title-size;
      
    }
    .item-value {
      font-size: $item-value-size;
      color: $item-value-color;
      margin-inline-end: 10px;
    }
  }
}

body.dark-mode .items-next-values {
  .title {
    color: $dark-text-color;
  }
  li {
    .item-title {
      color: $dark-text-color-second;
    }
    .item-value {
      color: $dark-text-color-third;
    }
  }
}
