.notifications 
{
  list-style-type: none;
  margin: 0;
  padding: 0;

li {
  
  a {
    padding: 5px;
    width: 100% !important;
    display: flex;
    align-items: center;
    
  }
  .body {
    display: flex;
    text-align: start;
    width: 100% !important;
  }
  .date {
    display: flex;
    justify-content: center;
    width: 100px !important;
    font-size: 14px;
  }
}
}
