.page-content {
  padding-top: 2px;
  background-color: $page-bg-color;
  border-top-color: $border-color;
  border-top-style: solid;
  border-top-width: 1px;
  height: 100%;

  .page-title {
    color: $page-title-color;
    margin: 0.5em;
  }
  .section-title {
    color: $section-title-color;
    margin: 0.5em;
  }
}
body.dark-mode {
  .page-content {
    background-color: $dark-bg-color;
    border-top-color: $dark-border-color;
  }

  color: $dark-text-color-second;

  .page-title,
  .section-title {
    color: $dark-text-color;
  }
}
