.page-tabs {
  background-color: $page-tabs-bg-color;
  flex-wrap: nowrap;
  overflow-x: scroll !important;

  &::-webkit-scrollbar {
    display: none;
  }
  .nav-link {
    display: flex;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    padding-inline: 10px;
    margin-inline:3px ;
    margin-bottom: 5px;
    padding: 0.2rem 1rem;
    border-radius: 6px;
    color: $page-tab-color;
    background-color: $page-tab-bg-color;
    &.active , &:hover {
      background-color: $page-tab-bg-color-active ;
      color: $page-tab-color-active;
    }
   
  }
}

body.dark-mode {
  .page-tabs {
    background-color: transparent;
    .nav-link {
      // background-color: silver;
      color: $primary-color;
      background-color: transparent;
      &.active , &:hover {
        color: darken($primary-color, 10%);
        background-color: $dark-bg-color-second;
      }
      
    }
  }
}
